* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

a {
    color: white;
    transition: color 0.2s;
}

a:hover {
    color: rgb(168, 255, 255);
}

a:active {
    color: rgb(155, 155, 255);
}

.banner {
    background: linear-gradient(to right, rgb(20, 20, 20), rgb(44, 44, 44));
    padding: 30px;
}

.banner h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 2px 5px rgba(255, 255, 255, 0.335);
    font-size: 55px;
}

.banner p {
    font-family: Cambria, serif;
    font-size: 20px;
    margin-top: 1em;
}

.bio {
    padding: 0 30px;
    margin: 40px 100px;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
}

.bio p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 32px;
}