* {
    padding: 0;
    margin: 0;
    border: 0;
}

.center {
    text-align: center;
}

html {
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

a {
    color: white;
    transition: color 0.15s;
}

a:hover {
    color: rgb(168, 255, 255);
}

a:active {
    color: rgb(155, 155, 255);
}

svg {
    fill: white;
    transition: fill 0.15s;
}

svg:hover {
    fill: rgb(168, 255, 255);
}

svg:active {
    fill: rgb(155, 155, 255);
}

.banner {
    background: linear-gradient(to right, rgb(20, 20, 20), rgb(44, 44, 44));
    padding: 30px;
}

.banner h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 2px 5px rgba(255, 255, 255, 0.335);
    font-size: 55px;
}

.banner p {
    font-family: Cambria, serif;
    font-size: 20px;
    margin-top: 1em;
}

.bio {
    padding: 30px 60px 60px;
    margin: 40px 100px;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bio p {
    margin: 32px 0;
}

table, td {
    border: 1px solid white;
}

th, td {
    padding: 12px 18px;
}

th {
    text-align: center;
}

td.description {
    font-size: 14px;
    text-align: justify;
}